<% for attribute in attributes -%>
<p>
  <b><%= attribute.column.human_name %>:</b>
  <%%=h @<%= category_singular_name %>.<%= attribute.name %> %>
</p>

<% end -%>

<%%= link_to 'Edit', edit_<%= category_singular_name %>_path(@<%= category_singular_name %>) %> |
<%%= link_to 'Back', <%= categories_plural_name %>_path %>
